body{
  background-color: black;

}
/* create rect */
.rect{
  position: relative;
  top: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
}
/* space to contain rect */
.container{
  position: absolute;
  left: 50px;
  right: 50px;
  top: 30%;
}
/* make the button and textbox in the center */
.center{
  position: absolute;
  top:25%;
  left: 40%;
  border-radius: 5px;
}
