body{
  background-color: black;
  /* background-image:url("background.png");
  background-repeat: no-repeat;
  background-size:cover; */
}
.center{
  position: relative;
  left:40%;
}
#container{
  position: relative;
  left: 70px;
  top: 40%;
}
.film{
  font-family:fantasy;
  font-size: 23px;
  font-weight: bold;
  padding-top: 5px;
}
.number{
  padding-left: 100%;
}
h4{
  font-family:fantasy;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.bar{
  height: 40px;
  border-color: #E9A971;
  border-style: solid;
  background-color: #FEBD84;
  padding-left: 10px;
  margin-bottom: 50px;
}
.bar:hover{
  background-color:#F8821C;
}
